<!--  PAGE HEADER  -->
<div id="page-header">
  <div class="container">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/">Books</a></li>
      <li><%= link_to "Author", "authors/index"%></li>
      <li><a href="#">Categories</a></li>
      <li><a href="#">About us</a></li>
      <li><a href="#">Contact us</a></li>
    </ul>
  </div>
</div>