
<!--
    ################
    NOTE
    ###############

    You can use
    @book: current viewing book

    and below ruby code
-->

<%
   authors = Author.where(id: @book.author_ids) # find all author who have id is in @book.author_ids
   same_author_book_ids = (authors.map { |a| a.book_ids }).flatten.uniq
   @same_author_book_ids = Book.where(id: same_author_book_ids) #query books which have id in same_author_book_ids
   @same_category_books = Book.all #TODO: Add relations between books and categories as books and authors, Then change this line of code
%>



<!-- PAGE CONTENT -->
<div class="container">

  <!--  SIDE BAR  -->
  <div class="sidebar">
    <!-- Best sellers -->
    <div class="box-title box-content">
      Best Sellers
    </div>

    <div class="sidebar-list" id="lp-best-sellers">
      <ul>
          <% (1..3).each do |i| %>
          <% book = Book.find_by(id: i) %>
            <li>
            <p class="">
                  <span style="display: inline-block; height: 100%; vertical-align: middle"></span>
                  <%= image_tag("#{book.has_attribute?(:image) ? book.image: ''}", size: "200x200", alt: 'Insert URL for Book') %>
                </p>

                <p class="product-price"><%= book.has_attribute?(:price) ? ('$' + book.price.to_s) : 'No Price Attribute' %></p>
                <%= link_to (book.has_attribute?(:name) ? book.name : 'No Name Attribute'), "books/#{book.id}" %>
            </li>
        <% end %>
      </ul>
    </div>

    <!-- Best sellers -->
    <div class="box-title box-content">
      Books of Author Name
    </div>

    <div class="sidebar-list" id="bs-same-author-books">
      <% if Book.count > 0 %>
        <% %>
      <% end %>
    </div>
  </div>

  <!--  MAIN CONTENT  -->
  <div id="landing-products">
    <div class="box-title box-content">
      Books
    </div>

    <div class="products-list">
      <!--BOOK INFO-->
      <div id="book-info"></div>
      <!--END BOOK INFO-->
    </div>

    <!--BOOK OTHER DETAIL-->
    <div class="box-title box-content">
      Additional Information
    </div>
    <div id="book-other-detail"></div>
    <!--END BOOK Other detail-->


    <!-- Same category BOOKs -->
    <div class="box-title box-content">
      Related Books
    </div>
    <div id="bs-same-categories-books"></div>
    <!--END BOOK Other detail-->

  </div>
  <!--  END MAIN CONTENT  -->
</div>
<!-- END PAGE CONTENT -->

